<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CharCounter</title>
    <link rel="stylesheet" href="/stylesheets/app.css">
</head>
<body>
   <main>
        <a href="/" class="homeBtn btn">Home</a>
        <h1 class="mainHeading">Characters Counter App</h1>
        <textarea name="text" class="textArea" placeholder="Write or Paste your text"></textarea>
        <button class="countbtn btn">Count</button>
        <p class="result"></p>
    </main>
    <script src="/javascripts/char.js"></script>
</body>
</html>