<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>CounterApp</title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
	</head>
	<body>
		<main>
			<h1>Counter App</h1>
			<div class="buttons">
				<a href="/charConter" class="btn">Chars Counter</a>
				<a href="/wordCounetr" class="btn">Words Counter</a>
			</div>
		</main>

		<script src="/javascripts/index.js"></script>
	</body>
</html>
